<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>603088311912-lci1gfmfbq48a37mvui138sr7ifannkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603088311912-lci1gfmfbq48a37mvui138sr7ifannkj</string>
	<key>API_KEY</key>
	<string>AIzaSyBY3enp7jkv6LFFV5MR5UPc6fryBlDiT8M</string>
	<key>GCM_SENDER_ID</key>
	<string>603088311912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netlight.PrepLight</string>
	<key>PROJECT_ID</key>
	<string>preplighttest</string>
	<key>STORAGE_BUCKET</key>
	<string>preplighttest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603088311912:ios:c4ee85d7449e2e2b</string>
	<key>DATABASE_URL</key>
	<string>https://preplighttest.firebaseio.com</string>
</dict>
</plist>